<div class="sobre">
    <div class="sobre-esq">
        <h1 class="titulo hover"> Sobre mim </h1>
        <hr>
        <div class="sobre-texto">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita adipisci, deleniti molestiae quisquam
                eligendi quo repellat quaerat quam, dolor, earum provident. Totam illo iusto recusandae obcaecati optio
                ipsum. Vitae, similique.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita adipisci, deleniti molestiae quisquam
                eligendi quo repellat quaerat quam, dolor, earum provident. Totam illo iusto recusandae obcaecati optio
                ipsum. Vitae, similique.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita adipisci, deleniti molestiae quisquam
                eligendi quo repellat quaerat quam, dolor, earum provident. Totam illo iusto recusandae obcaecati optio
                ipsum. Vitae, similique.
            </p>

        </div>
    </div>
    <div class="sobre-dir">

    </div>
</div>
