<div class="contato">
    <h1 class="contato-titulo titulo hover"> Contato </h1>
    <p class="contato-texto"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita adipisci, deleniti molestiae quisquam </p>
    <!-- <div class="contato-redes">
        <h3 class="contato-redes-titulo"> Redes Sociais </h3>
        <div class="contato-redes-box">
            <a href="http://google.com" target="_blank" class="contato-redes-box-item">
                <img src="assets/svg/github.svg">
                <p> GitHub </p>
            </a>
        </div>
    </div> -->

    <hr>
</div>
